
fastapi
uvicorn
uvicorn==0.35.0
python-multipart
ollama
chromadb
pdfplumber
pytube
youtube-transcript-api

annotated-types
anyio
certifi
charset-normalizer
click
colorama
defusedxml
fsspec
h11
httpcore
httpx
idna
Jinja2
MarkupSafe
more-itertools
mpmath
networkx
pydantic
pydantic_core
regex
requests
sniffio
starlette
sympy
typing-inspection
typing_extensions
urllib3